html ,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.ui-content {
    padding: 0;
}
.ui-footer {
    text-align: center;
    padding: 5px 0;
}

.ui-bar-c {
	border: 1px solid 		#B4C6D0;
	background: 			#014991;
	color: 					#fff;
	text-shadow: 0 1px 1px 	#333;
	background-image: -moz-linear-gradient(top, 
							#B4C6D0,
							#014991);
	background-image: -webkit-gradient(linear,left top,left bottom,
			color-stop(0, 	#B4C6D0),
			color-stop(1, 	#014991));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#B4C6D0', EndColorStr='#014991')";
}

/*.portrait, .portrait .ui-page{*/
    /*min-height: 0;*/
/*}*/
#mappage, #mappage .ui-content, #map {
    width: 100%;
    height: 100%;
}
.olControlAttribution {
    font-size: 10px;
    bottom: 5px;
    right: 5px;
}
#navigation {
    position: absolute;
    bottom: 70px;
    left: 10px;
    z-index: 1000;
}
#navigation .ui-btn-icon-notext {
    display: block;
    padding: 7px 6px 7px 8px;
}
#title, #tags, #shortdesc {
    display: none;
}
.ui-icon-check {
    opacity: 0.3;
}
.checked .ui-icon-check {
    opacity: 1;
}
.ui-icon-locate {
    background-image: url(../../js/ol/img/locate.png);
}
.ui-icon-layers {
    background-image: url(../../js/ol/img/openlayers.png);
}
.ui-content .ui-listview-inset, #search_results {
    margin: 1em;
}
.ui-content .ui-listview {
    margin: 0px;
}
#details-list li{
	padding:15px 10px;
}

#infopage li {
	list-style-type: none;
}

#infopage img {
	margin-right: 12px;
}

#disclaimer {
	font-style: italic;
	font-size: small;
}

.facility {
		color: #63a236;
		font-weight: bold;
}

div.olControlZoomPanel {
    height: 108px
    width: 36px;
    position: absolute;
    top: 20px;
    left: 20px;
}
div.olControlZoomPanel div {
    width: 36px;
    height: 36px;
    background-image: url(../../js/ol/img/mobile-zoombar.png);
    left: 0;
}
div.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0;
    background-position: 0 0;
}
div.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 36px;
    background-position: 0 -36px;
}
div.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 72px;
    background-position: 0 -72px;
}
