{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Greater Boston  Cycling and Walking Map</title>
	<meta name="description" content="MAPC Trailmap">
	<meta name="keywords" content="Boston, Metro, Planning, Transportation, Bicycle, Map, Trials, Pedestrian, Mode">
	<meta name="author" content="MAPC">
        
    <!-- geotags -->
	<meta name="DC.title" content="MAPC Trailmap"> 
	<meta name="geo.placename" content="Boston">
	<meta name="geo.position" content="42.34;-71.08">
	<meta name="geo.region" content="US-MA">
	<meta name="ICBM" content="42.34;-71.08">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint-css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint-css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint-css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	
	<style type="text/css">
	
	#header, #footer{
		text-align: center;
	}
	
	#header {
		padding-top: 18px;
		width: 100%;
		height: 60px;
		background-color: #014991;
		border-bottom: solid 1px #ffffff;
	}
	
	h1 {
		color: #ffffff;
	}
	
	{% block style %}{% endblock %}
	</style>
	
	<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
	
	{% block javascript %}{% endblock %}
	
</head>
<body>
	
	<div id="wrap">
		
			<div id="header">
				<h1>Greater Boston  Cycling and Walking Map</h1>
			</div>
			
		<div class="container">
			
			{% block map %}{% endblock %}
		
			{% block body %}{% endblock %}
			
			<div id="footer" class="prepend-2 span-20 append-2 append-bottom prepend-top small">
				<p>
					Questions? Please contact <a href="mailto:trailmap@mapc.org?subject=Trailmap question">trailmap@mapc.org</a><br>
					&copy; <a href="http://www.mapc.org" title="Metropolitan Area Planning Council">MAPC</a> 2011
				</p>	
			</div>			
		
		</div>
		
	</div>
	
</body>
</html>