{% extends "base.html" %}
{% load i18n %}

{% block style %}

	#map_canvas {
		height: 500px;
		width: 100%;
		margin-bottom: 18px;
	}
	
	#map_legend {
		width: 100%;
	}
	
	div.feedbacklink button {
		float: right;
	}
	
	#feedbackform {
		display: none;
		margin-top: 18px;
	}
	
	#id_description {
		width: 100%;
		height: 80px;		
	}
	
	#disclaimer {
		font-style: italic;
	}
	
	.facility {
		color: #63a236;
		font-weight: bold;
	}
	
	#bikemap-tn {
		float: right;
		margin-top: 18px;
	}
	#map_legend li {
		display: inline;
		list-style-type: none;
		margin-right: 8px;
		white-space: nowrap;
	}
	#map_legend img {
		width: 12px;
		height: 12px;
	}
	
{% endblock %}

{% block javascript %}
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/ol/OpenLayers.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/cloudmade.js"></script>
	
	<script type="text/javascript">
		
		$(document).ready(function() {
        
        	var lon = -71.08;
			var lat = 42.35;
			var zoom = 12;
			var map, layer_switcher, layer_osm, layer_googsat, layer_paledawn, layer_bikeped, layer_walking, layer_regional, layer_markers, layer_feedback;
			var proj_wgs84, proj_osm;
			
			// Projections
			proj_wgs84 = new OpenLayers.Projection("EPSG:4326");
			proj_osm = new OpenLayers.Projection("EPSG:900913"); // really? 
			
			// Map
			var layer_switcher = new OpenLayers.Control.LayerSwitcher();
			map = new OpenLayers.Map("map_canvas", {
				controls: [
					new OpenLayers.Control.Navigation(),
					new OpenLayers.Control.PanZoom(),
					layer_switcher,
					new OpenLayers.Control.ScaleLine(),
					new OpenLayers.Control.Attribution()
				],
				restrictedExtent: new OpenLayers.Bounds(-74, 41, -69, 43).transform(proj_wgs84, proj_osm),
				maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
				maxResolution: 156543.0399,
				units: "m",
				projection: proj_osm,
				displayProjection: proj_wgs84
			});
			
			// Usability issue: people didn't find the layer switcher.
			layer_switcher.maximizeControl();
			
			// Base Layer
			layer_paledawn = new OpenLayers.Layer.CloudMade("Pale Dawn", {
				key: '7a0df0d49fb14d27b35022fcb6b49d6d',
				styleId: 998
			});
			layer_osm = new OpenLayers.Layer.OSM("OpenStreetMap");
			layer_toposm = new OpenLayers.Layer.OSM("TopOSM", 
				"http://toposm.com/ma/final/${z}/${x}/${y}.png",
				{
					numZoomLevels: 16,
					attribution: "<a href='http://toposm.com/'>TopOSM</a>"
				}
			);		
			layer_googsat = new OpenLayers.Layer.Google("Google Satellite", {
				type: google.maps.MapTypeId.SATELLITE, 
				numZoomLevels: 22
			});
			
			// Overlays
			layer_regional = new OpenLayers.Layer.WMS("Regional Networks",
				"http://geonode.mapc.org/geoserver-geonode-dev/wms",
				{ 
					layers: "MAPC:bikeped_facilities",
					format: "image/png",
					styles: "Regional Networks", 
					transparent: true
					
				},
				{
					isBaseLayer: false,
					visibility: false,
					attribution: "<a href='http://mapc.org/'>MAPC</a>"
				}
			);
			layer_walking = new OpenLayers.Layer.WMS("Paths and Trails",
				"http://geonode.mapc.org/geoserver-geonode-dev/wms",
				{ 
					layers: "MAPC:bikeped_facilities",
					format: "image/png",
					styles: "Walking Facilities", 
					transparent: true
					
				},
				{
					isBaseLayer: false,
					attribution: "<a href='http://mapc.org/'>MAPC</a>"
				}
			);
			layer_bike = new OpenLayers.Layer.WMS("Bicycle Facilities (on-road)",
				"http://geonode.mapc.org/geoserver-geonode-dev/wms",
				{ 
					layers: "MAPC:bikeped_facilities",
					format: "image/png",
					styles: "Bicycle Facilities", 
					transparent: true
					
				},
				{
					isBaseLayer: false,
					attribution: "<a href='http://mapc.org/'>MAPC</a>"
				}
			);
			layer_markers = new OpenLayers.Layer.Markers( "Feedback",
	            {
	            	visibility: false
	            }
            );
			
			// Map Functionality
			map.events.on({
				"moveend": function(e) {
					var mapcenter = map.getCenter().transform(proj_osm, proj_wgs84);
					$("#id_location").val("POINT(" + mapcenter.lon + " " + mapcenter.lat + ")")
				}
			});

            // add markers            
            function addMarker(ll, popupContent) {

	            var feature = new OpenLayers.Feature(layer_markers, ll); 
	            feature.closeBox = true;
	            feature.popupClass = OpenLayers.Class(OpenLayers.Popup.FramedCloud, {
            		"autoSize": true
        		});
	            feature.data.popupContentHTML = popupContent;
	            feature.data.overflow = "auto";
	                    
	            var marker = feature.createMarker();
	
	            var markerClick = function (evt) {
	                if (this.popup == null) {
	                    this.popup = this.createPopup(this.closeBox);
	                    map.addPopup(this.popup);
	                    this.popup.show();
	                } else {
	                    this.popup.toggle();
	                }
	                currentPopup = this.popup;
	                OpenLayers.Event.stop(evt);
	            };
	            marker.events.register("mousedown", feature, markerClick);
	
	            layer_markers.addMarker(marker);
        	}
        	
        	{% if feedback %}{% for marker in feedback %}
            addMarker(new OpenLayers.LonLat({{ marker.location.x }},{{ marker.location.y }}).transform(proj_wgs84, proj_osm), "{{ marker.description }}<br><a href='{{ marker.get_absolute_url }}'>Add New Comment</a>");
            {% endfor %}{% endif %}
			
			// Compose map
			map.addLayers([layer_paledawn, layer_osm, layer_toposm, layer_googsat, layer_regional, layer_walking, layer_bike, layer_markers]);
			map.setCenter( new OpenLayers.LonLat(lon, lat).transform(proj_wgs84, proj_osm), zoom );	
			
			// UI
			$("div.baseLbl").html("Base Layers");
			$("div.dataLbl").html("Bike/Ped Layers");
			
			// Feedbackform
			$("button.feedbacklink").click(function() {
				$("#feedbackform").toggle("slow", function() {
					$("button.feedbacklink").unbind().hide();					

            		// Add draggable marker/feature            		
            		var layer_feedback = new OpenLayers.Layer.Vector("Your Feedback");
    				layer_feedback.styleMap = new OpenLayers.StyleMap(new OpenLayers.Style({				        
					        graphicYOffset: -25,
					        graphicXOffset: -13,
					        externalGraphic: "{{ STATIC_URL }}js/ol/img/marker-gold.png",
					        pointRadius: 13
					    })
				    );           		

            		var feedback_pt = new OpenLayers.Geometry.Point(map.getCenter().lon, map.getCenter().lat)
					var feedback_feature = new OpenLayers.Feature.Vector(feedback_pt);
            		
            		layer_feedback.addFeatures([feedback_feature]);
					map.addLayer(layer_feedback);
            		
            		map.addControl(new OpenLayers.Control.MousePosition());
            		var feedback_drag = new OpenLayers.Control.DragFeature(layer_feedback);
            		feedback_drag.onComplete = function(f) {            			
            			var feedback_lonlat = new OpenLayers.LonLat(feedback_feature.geometry.x, feedback_feature.geometry.y);
            			feedback_lonlat.transform(proj_osm, proj_wgs84);            			
            			$("#id_location").val("POINT(" + feedback_lonlat.lon + " " + feedback_lonlat.lat + ")")						
            		}
            		map.addControl(feedback_drag);
            		feedback_drag.activate();            		
  				});				
			});
			$("#feedbackform").submit(function() {
				// simple validation
				if (!$("#id_description").val()) {
					alert("Please fill out the form.");
				  	return false;
				}
			});
        
        });
    </script> 
	
{% endblock %}
	
{% block map %}

		<div id="map_canvas"></div>
		
		<div class="feedbacklink">
			<button class="feedbacklink" href="#" title="Tell us where we should improve the map!">Feedback</button>
		</div>
		
		<ul id="map_legend">			
			<li><img src="{{ STATIC_URL }}img/ct.png" alt="icon" />Cycle track</li>
			<li><img src="{{ STATIC_URL }}img/bl.png" alt="icon" />Bike lane</li>
			<li><img src="{{ STATIC_URL }}img/sl.png" alt="icon" />Shared lane</li>
			<li><img src="{{ STATIC_URL }}img/or.png" alt="icon" />On-road route</li>
			<li><img src="{{ STATIC_URL }}img/e.png" alt="icon" />Improved path</li>
			<li><img src="{{ STATIC_URL }}img/u.png" alt="icon" />Unimproved path</li>
			<li><img src="{{ STATIC_URL }}img/t.png" alt="icon" />Walking path or trail</li>
			<li><img src="{{ STATIC_URL }}img/w.png" alt="icon" />Water trail</li>
			<li><img src="{{ STATIC_URL }}img/lw.png" alt="icon" />Regional or local walking trail</li>
			<li><img src="{{ STATIC_URL }}img/lb.png" alt="icon" />Regional bicycle route</li>
			<li><img src="{{ STATIC_URL }}img/p.png" alt="icon" />Proposed facility</li>
		</ul>
		
{% endblock %}
		
{% block body %}

		<div id="content" class="prepend-2 span-20 append-2 last">
			
			<form id="feedbackform" action="/feedback/new/" method="post">
	
				{% csrf_token %}
					
				<div>Please drag the yellow marker <img src="{{ STATIC_URL }}js/ol/img/marker-gold.png" height="18" alt="blue marker" /> to your desired location and use the form below for submitting your feedback:</div>
				
				{{ form.location }}
				
				<div class="form-row">
				{% if form.title.errors %}
				<div class="error">
					{% for error in form.description.errors %}
						{{ error|escape }}<br>
					{% endfor %}
					{{ form.description }}
				</div>
				{% else %}
				{{ form.description }}
				{% endif %}	
				</div>
		
				<input type="submit" value="Submit Feedback" />
			
			</form>
			
			<a href="http://mapc.org/smart-growth/transportation/bike-ped-projects" title="MAPC Regional Bicycle and Pedestrian Projects"><img id="bikemap-tn" src="{{ STATIC_URL }}img/bikemap-tn.jpg" alt="Greater Boston Cycling and Walking Map" /></a>
			
			<p><h3>Welcome to MAPC's 2011 Greater Boston Cycling and Walking Map!</h3>
				This map is the most comprehensive compilation of the regions walking and bicycling facilities ever prepared. 
				Our goal is to provide a single source of information to enable people to plan and then traverse the region 
				by foot and/or on bicycle.</p>
			
			<p class="prepend-top"><span class="facility">Walking Facilities</span> - includes hiking trails in conservation lands, 
				paths through campuses, institutions, city parks, and other pedestrian facilities that are not along roadways.</p>

			<p><span class="facility">Bicycle Facilities</span> - includes on-road designated facilities including bicycle lanes, 
				shared lane markings, cycle tracks, and select on-road connections.</p>

			<p><span class="facility">Shared Use Paths</span> – includes trails on former railroad rights-of-way, rivers, and other 
				corridors and designed for shared use by cyclists, walkers, and other non-motorized transport. Improved paths are 
				either paved, or with a stabilized firm surface, ideal for use by road bicycles, wheelchairs, strollers etc. 
				Unimproved paths are open to public use but not improved for uses beyond hiking or mountain biking.</p>

			<p><span class="facility">Regional Networks</span> – includes linear corridors that have been signed or otherwise designated. Walking trails include the Bay Circuit, Charles River Link, Warner Trail, Western Greenway, and proposed aqueduct trail system. Bicycle routes include the East Coast Greenway and the Claire Saltonstall Bikeway.</p>

			<p>This map was created by MAPC with contributions from cities, towns, state agencies, land trusts, other organizations, and individuals. 
				This printed map represents the information available at the time of publication and is not considered a complete map. Gaps exist, 
				particularly with walking trails. This map is updated on a regular basis, incorporating new data and your <a href="#" class="feedbacklink">feedback</a>.</p>
			
			<p><h4>Data within the map is credited to the following sources:</h4>
				<ul>
					<li>MAPC & MAPC Municipalities</li>
					<li>Massachusetts Department of Transportation (MassDOT)</li>
					<li>Office of Geographic and Environmental Information (MassGIS), Commonwealth of Massachusetts Executive Office of Energy and Environmental Affairs</li>
					<li>some trail data &copy; <a href="http://www.openstreetmap.org" title="OpenStreetMap">OpenStreetMap</a> contributors, CC-BY-SA.</li>
				</ul>
			</p>
			
			<h4>Funding for this project is courtesy of the Boston Region Metropolitan Planning Organization.</h4>
			
			<h4>Map printing courtesy of generous support from The Lawrence and Lillian Solomon Fund.</h4>
 
			<p>For more information and to provide feedback please contact:<br>
				David Loutzenheiser<br>
				Transportation Planner, Bicycle and	Pedestrian Program<br>
				<a href="mailto:dloutzenheiser@mapc.org">dloutzenheiser@mapc.org</a></p>
			
			<p id="disclaimer">Disclaimer: 
				The data herein is provided as is and for information purposes only. MAPC does not guarantee its completeness or accuracy. 
				This project is a work in progress. Weather, traffic, construction or other events out of MAPC’s control may affect the utility 
				of the data provided. Plan accordingly and use caution, obey all applicable laws and follow generally accepted practices when 
				using these facilities.</p>

		</div>

{% endblock %}
