<!DOCTYPE html>
<html>
<head>
    <title>MAPC Trailmap</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet/leaflet.ie.css" /><![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114.png">


    <script type="text/javascript" src="{{ STATIC_URL }}lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/leaflet/plugins/pavel-shramov/control/Permalink.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/mapc-layers.js"></script>

    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
        }
        a, .leaflet-container a {
            color: #014991;
        }

        .leaflet-control-permalink {
            display: none;
        }
        .mapc-logo {
            position: absolute;
            left: 10px;
            bottom: 2px;
            z-index: 100;
        }

    </style>
    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5547782-13']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</head>
<body>
    
    <div id="map"></div>

    <div class="mapc-logo"><a href="http://www.mapc.org" title="Metropolitan Area Planning Council"><img src="{{ STATIC_URL }}/img/mapc-logo.png" alt="Metropolitan Area Planning Council" /></a></div>

    <script>

        var boston = new L.LatLng(42.357778, -71.061667);

        // map
        var layer = new L.MAPCTileLayer("trailmap");
        var map = new L.Map("map",{
            minZoom: 9,
            maxZoom: 17,
            zoom: 10,
            center: boston
        });

        map.addLayer(layer);

        var permalinkControl = new L.Control.Permalink();
        map.addControl(permalinkControl);

    </script>
</body>
</html>

